h1{
    font-size: 45px;
    text-transform: capitalize;

}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
span{
    color:#FFA500 ;
}
.link_btn{
    text-decoration: none;
    background: rgb(212, 152, 21);
    padding: 10px 30px;
    border-radius: 5px;
    background-image: linear-gradient(#FA6957,#66392c);
    color: #fff;

}
.half_width > p{
    color: dimgray;
}
.half_width{
    width: 80%;
    margin-left: 8%;
}
img{
    width: 70%;
}
.flex_style{
    display: flex;
}
.intro{
    background: url(../images/top-banner.png);
    background-repeat: no-repeat;
    background-position: ;
}
.big_dream .half_width >p{
    width: 550px;
} 
.big_dream{
    background: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 200px;
}
.flexible_container{
    display: flex;
    margin-bottom:100px ;
}
.Experience_item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}
.border1{
    border-left: 7px solid ;
    border-image:  linear-gradient(lightSalmon,tomato);
    border-image-slice: 1;  
}
.border2{
    border-left: 7px solid ;
    border-image:  linear-gradient(blue,cyan);
    border-image-slice: 1;  
}
.box_sec{
    background: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 200px;
}
.copyright{
    text-align: center;
    font-size: 12px;
}
.copyright p{
    color: dimgray;
}
.extra h1{
    margin-left: 285px;
    position: relative;
    color: #6047EC;
}
.extra img{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 1818px;
    left: 621px;
    
}

.extra h3{
    position: absolute;
    top: 1789px;
    left: 742px;
    font-size: 3em;
    color: brown;
}





